<div class="container">
  <div class="game-screen">
    <div class="logo">
      <img src="../../assets/dino.png" alt="dino">
      <h2> {{username}}, Let's play</h2>
      <button style="margin-left: auto;margin-top: 20px;" [routerLink]="['/home']" >Home</button>
    </div>
    <div class="rules">
        <p *ngIf="!ob.playing && score[0]==0">
          Press <img src="../../assets/enter.png" alt=""> "Enter" to play.
        </p>
        <p *ngIf="!ob.playing && score[0]>0">
          Game Over <img src="../../assets/dead.png" alt=""> You died.
        </p>
        <div class="score">
          <p>Highest Score : <strong> {{score[1]}} </strong></p>
          <p>Score : <strong> {{score[0]}} </strong></p>
        </div>
    </div>
    <div class="game">
      <div class="screen">
        <div class="platform" #platform>
          <div  class="dino" #dino
                [style.bottom.px]="ds.bottom"
                [style.height.px]="dinoDms.height"
                ></div>

          <div  class="obs" *ngFor="let i of obs"
                            [style.height.px]="i.height"
                            [style.width.px]="i.width"
                            [style.bottom.px]="i.bottom"
                            [style.left.px]="i.left"></div>
        </div>
      </div>
    </div>
    <div class="keypad">
      <div class="keypad-btn" >
        <button [disabled]="ob.playing" (click)="startGame()" >Play</button>
        <div>
          <button [disabled]="!ob.playing" (click)="ds.jump()">Jump</button>
          <button [disabled]="!ob.playing" (click)="ds.duck()">Duck</button>
        </div>
      </div>
    </div>
  </div>
</div>
